doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/JQuery.js')
    script(src='/javascripts/myScript.js')
  body
    block content
